.viewport {
	/* The element is removed from the normal document flow, and no space is created for the element in the page layout. It is positioned relative to its closest positioned ancestor */
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: -webkit-linear-gradient(#cffff9, #b6defd);
	background: linear-gradient(#cffff9, #b6defd);
}

.world {
	/* hide scrollbar */
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.panel {
	position: absolute;
	/* vh: Relative to 1% of the height of the viewport */
	top: 8vh;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
	font-family: 'Roboto';
	
}
.panel h1 {
	/* em:  my parent element's font-size */
	font-size: 4.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: -0.025em;
	color: #00008b 
}

.hud  {
	width: 100%;
	margin: 2em 0 0;
	text-align: center;
	white-space: nowrap;
}

.item {
	position: relative;
	display: inline-block;
	padding: 0 1em;
	vertical-align: top;
}

.label {
	font-size: 9px;
	position: relative;
	margin: 0 0 0.5em 0;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #5050ff;
}

.value {
	font-weight: bold;
	color: #5050ff;
}


body {
	overflow: hidden; /* Hide scrollbars */
	margin: 0;
}

.value {
	/* inline element boxes that do not generate line breaks before or after themselves. In normal flow, the next element will be on the same line if there is space */
	display: inline; 
}